@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  /* background-color: #000000b3; */
}
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: #FF8300;
  transform: scale(0.5);
  background-color: white;
  border-radius: 50%;
  position: absolute;
  padding: 70px;
  top: 30%;
  font-weight: bold;
}
.mySwiper .swiper-button-next{
  right: -60px;
}
.mySwiper .swiper-button-prev{
  left: -60px;
}
@media only screen and (max-width: 768px){
  .mySwiper .swiper-button-next,
  .mySwiper .swiper-button-prev {padding: 50px;transform: scale(0.3); top: 40%;}
  .mySwiper .swiper-button-next{
    right: -20px;
  }
  .mySwiper .swiper-button-prev{
    left: -20px;
  }

}
@media only screen and (max-width: 634px){
  .mySwiper .swiper-button-next,
  .mySwiper .swiper-button-prev {padding: 50px, 6px;transform: scale(0.3); top: 30%;}
  .mySwiper .swiper-button-next{
    right: -30px;
  }
  .mySwiper .swiper-button-prev{
    left: -30px;
  }

}

#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper2 .swiper-button-next,
.mySwiper2 .swiper-button-prev {
  color: #FF8300;
  position: absolute;
  font-weight: bold;
  display: none;
}

.mySwiper2 .swiper-button-next {
  right: 5px;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  display: none;
}
.mySwiper2 .swiper-button-prev {
  left: 5px;
}

.productSlide:hover .endirim{
  background-color: #FF8300;
  color: white;
}

.swiper-pagination{z-index: 0;}

.SwiperSlide {
  height: 367px;
}


body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.rangeInput::-webkit-slider-runnable-track {
  background-color: #FF8300; /* Orange color for track */
  height: 8px;
  border-radius: 4px;
}

.rangeInput::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #FF8300; 
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4px;
}
